{% extends '../_base.html' %}
{% load static %}
{% block main %}
  <main>
    <div style="height: 100px;"></div>
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Login</h2>
          <p>Insira seus dados de login</p>
        </div>
      </div>

      <div class="container" data-aos="fade-up">
        <div class="row mt-5">
          <div class="col-lg-8 mt-5 mt-lg-0">
            <form action="" method="post" class="php-email-form" enctype="multipart/form-data">
              {% csrf_token %}

              {{form.as_p}}
              
              <input type="submit" value="Enviar" />
            </form>
           
          </div>
        </div>
      </div>
    </section>
  </main>
 
  <script src="{% static 'js/formStyle.js' %}"></script>

{% endblock %}


