{% extends "../_base.html" %}
{% block main %}
  <main>
    <div style="height: 100px;">

    </div>
    <section id="chefs" class="chefs">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Pratos</h2>
          <p>Selecione um Prato</p>
        </div>

        <div class="row">
          {% for prato in pratos %}
          <div class="col-lg-4 col-md-6">
            <div class="member" data-aos="zoom-in" data-aos-delay="100">
              <img src="{{prato.imagem.url}}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4><a href="{% url 'actualizar_prato' prato.pk %}">{{prato.nome.capitalize}}</a></h4>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
          
      </div>
    </section><!-- End Chefs Section -->

  </main>
{% endblock %}
