<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Atlas</title>
  </head>
  <body>
    {% block header %}
      <header>
        <h1><a href="{% url 'landing' %}">Atlas</a></h1>
        <nav>
          <ul>
            {% if not user.is_authenticated %}
              <li>
                <a href="{% url 'login' %}">Login</a>
              </li>
              <li>
                <a href="{% url 'signup' %}">Signup</a>
              </li>
            {% else %}
              <li>
                <a href="#">Servicos</a>
              </li>
              <li>
                <a href="#">Sobre</a>
              </li>
              <li>
                <a href="{% url 'profile' user.pk %}">Profile</a>
              </li>
              <li>
                <form action="{% url 'logout' %}" method="post">
                  {% csrf_token %}
                  <input type="submit" value="Logout" />
                </form>
              </li>
            {% endif %}
          </ul>
        </nav>
      </header>
    {% endblock %}
    {% block main %}
      <main>
        <h1>Landing Page</h1>
        {% if user.is_authenticated %}
          <p>
            Welcome, <b>{{ user.username.capitalize }}</b>
          </p>
        {% else %}
          <p>This is the landing page</p>
        {% endif %}
      </main>
    {% endblock %}
    {% block footer %}

    {% endblock %}
  </body>
</html>
