<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Atlas</title>
  </head>
  <body>
    {% block header %}
      <header>
        <h1><a href="#">Atlas</a></h1>
        <nav>
          <ul>
            <li>
              <a href="#">Login</a>
            </li>
            <li>
              <a href="#">Signup</a>
            </li>
            <li>
              <a href="#">Profile</a>
            </li>
          </ul>
        </nav>
      </header>
    {% endblock %}
    {% block main %}

    {% endblock %}
    {% block footer %}
    {% endblock %}
  </body>
</html>
